<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container justify-content-around">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>MINrenovering</h3>
            <p>
              Turevägen 2 <br>
              191 47, Sollentuna<br><br>
              <strong>Tel:</strong> +46 72 393 93 39<br>
              <strong>E-post:</strong> info@minrenovering.se<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/MinRenovering-110492527935769" class="facebook"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://instagram.com/minrenovering.se" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i><a class="{% if page == 'index' %}active{% endif %}"
                href="#hero">Hem</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="#about">Om Oss</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="#services">Våra Tjänster</a></li>
            <li><i class="bx bx-chevron-right"></i><a class="{% if page == 'portfolio' %}active{% endif %}"
                href="#portfolio">Våra
                Projekt</a>
            </li>
            <li><i class="bx bx-chevron-right"></i><a href="#team">ROT/RUT</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="#contact">Kontakta Oss</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Vårt nyhetsbrev</h4>
          <p>Prenumerera på vårt nyhetsbrev så att du inte missar något i framtiden!</p>
          <form action="" method="post">
            <input type="email" name="email" placeholder="E-post"><input type="submit" value="Prenumerera">
          </form>

        </div>



      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><a href="https://scriptify.se"><span>Scriptify</span></a></strong>. All Rights Reserved
    </div>

  </div>
</footer><!-- End Footer -->