<!-- ======= Top Bar ======= -->
<section id="topbar" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope d-flex align-items-center"><a
          href="mailto:info@minrenovering.se">info@minrenovering.se</a></i>
      <i class="bi bi-phone d-flex align-items-center ms-4"><span>+46 72 393 93 39</span></i>
    </div>
    <div class="social-links d-none d-md-flex">
      <a href="https://www.facebook.com/MinRenovering-110492527935769" class="facebook"><i
          class="bi bi-facebook"></i></a>
      <a href="https://instagram.com/minrenovering.se" class="instagram"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html"><img src="assets/img/logo.png" alt="Logo" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto {% if page == 'index' %}active{% endif %}" href="#hero">Hem</a></li>
        <li><a class="nav-link scrollto" href="#about">Om Oss</a></li>
        <li><a class="nav-link scrollto" href="#services">Våra Tjänster</a></li>
        <li><a class="nav-link scrollto {% if page == 'portfolio' %}active{% endif %}" href="#portfolio">Våra
            Projekt</a>
        </li>
        <li><a class="nav-link scrollto" href="#team">ROT/RUT</a></li>
        <li><a class="nav-link scrollto" href="#contact">Kontakta Oss</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->