/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background-color: rgba(darken($secondary, 10), 0.8);
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-top: 114px;
  
  .carousel-item {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .carousel-item::before {
    content: '';
    background-color: rgba(#000, 0.7);
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .carousel-content {
    text-align: center;
  }

  h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }

  p {
    width: 80%;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  .carousel-inner {
    .carousel-item {
      -webkit-transition-property: opacity;
      transition-property: opacity;
      background-position: center top;
    }

    .carousel-item,
    .active.carousel-item-start,
    .active.carousel-item-end {
      opacity: 0;
    }

    .active,
    .carousel-item-next.carousel-item-start,
    .carousel-item-prev.carousel-item-end {
      opacity: 1;
      transition: 0.5s;
    }

    .carousel-item-next,
    .carousel-item-prev,
    .active.carousel-item-start,
    .active.carousel-item-end {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control-prev, .carousel-control-next {
    width: 10%;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
  }

  .carousel-indicators li {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4px;
    transition: ease-in;
    opacity: .7;
    &.active {
      opacity: 1;
      background-color: $primary;
    }
  }

  .btn-get-started {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    background: $primary;
    animation-delay: 0.8s;
    &:hover {
      background: darken($primary, 5);
    }
  }

  @media (max-width: 768px) {

    height: 90vh;
    .carousel-item {
      height: 90vh;
    }

    h2 {
      font-size: 28px;
    }
  }

  @media (min-width: 1024px) {
    p {
      width: 60%;
    }
    .carousel-control-prev, .carousel-control-next {
      width: 5%;
    }
  }

  @media (max-height: 500px) {
    height: 150vh;
    .carousel-item {
      height: 150vh;
    }
  }
}
